/* CSS Guide Document
   Author: Cezar Leigos
   last modify: Cezar Leigos
   Year: 2018-05-20
*/

.image{
}

.image.full{
  width: 99%;
}

.image.radius{
  border-radius: 0.5em;
}

.image.border{
  border: 0.2em solid #ccc;
}
