.main{
  border: 0.03cm solid #ccc;
  border-radius: 0.13cm;
  padding: 0.03cm 0.10cm;
}

.button{
  border: 0.03cm solid #888;
  border-radius: 0.10cm;
  padding: 0.14cm 0.10cm;
  background:none;
  color:#555;
  cursor: pointer;
  outline: 0;
}

.button:hover{
  opacity:0.85;
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);
}
